@import "../styles";

/* -- SCSS Variables -- */
$base-font-size: rem(16px);
$max-content-width: rem(1200px);

/* -- CSS Variables -- */
:root {
  --font--display: "Montserrat", sans-serif;
  --font--type: "Crimson Text", serif;
  --color--brand: #ffc600;
  --color--accent: #ffdd67;
  --color--type: #f3f3f3;
  --color--bg--main: #193549;
  --color--bg--accent: #122736;
  --size--content--max: #{$max-content-width};
}

/* -- CSS -- */

body {
  font-size: $base-font-size;
  background-color: var(--color--bg--main);
}

h1,
h2,
h3,
h4,
h5,
li {
  font-family: var(--font--display);
}

p {
  font-family: var(--font--type);
  font-size: to-rem(32px);
}
