/* -- SCSS Variables -- */
$base-font-size: 16px;

/* -- Colors -- */

:root {
  --brand-color: #ffc600;
  --accent-color: #ffdd67;
  --text-color: #f3f3f3;
  --main-bg-clor: #193549;
  --secondary-bg-color: #122736;
}

/* -- CSS -- */

body {
  font-size: $base-font-size;
  background-color: var(--main-bg-clor);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: var(--brand-color);
}

p {
  font-family: "Crimson Text", serif;
  color: var(--text-color);
  font-size: to-rem(32px);
}
