@use "mixins" as *;
@use "functions" as *;

article {
  width: 100%;
  max-width: var(--size--column--lg);
  display: flex;
  flex-flow: column;
  gap: 2rem;

  @include breakpoint(md) {
    gap: 4rem;
  }
}

section,
hgroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100vw;
  @include edge-padding;
}

@include breakpoint(md) {
  section {
    gap: 2rem;
  }
}
