@use "variables" as *;

@mixin breakpoint($size) {
  @if $size == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @warn "Unknown size '#{$size}'. Please use 'sm', 'md', or 'lg'.";
  }
}

@mixin nav-item-selected-decoration {
  text-decoration: underline;
  text-underline-offset: px-to-rem(8px);
  text-decoration-thickness: px-to-rem(4px);
}

@mixin edge-padding {
  padding-inline: $edge-padding;
}
