@use "mixins" as *;
@use "functions" as *;

/* -- Families -- */

h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
figcaption,
.subtitle {
  font-family: var(--font--display);
}

p,
li {
  font-family: var(--font--type);
}

/* -- Headings -- */

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: var(--leading--heading);
  color: var(--color--type);
  text-wrap: balance;
}

h1 {
  font-size: var(--text--3xl);
  letter-spacing: var(--tracking--tight);
  color: var(--color--brand);
}

h2,
.subtitle {
  font-size: var(--text--xl);
  letter-spacing: var(--tracking--snug);
}

h3 {
  font-size: var(--text--lg);
}

h4 {
  font-size: var(--text--md);
}

/* -- Running text -- */

p,
li {
  font-size: var(--text--md);
  font-weight: 400;
  line-height: var(--leading--body);
  color: var(--color--type);
}

p {
  text-wrap: pretty;
}

hgroup p {
  font-family: var(--font--display);
  font-size: var(--text--lg);
  line-height: var(--leading--snug);
}

ol {
  list-style: none;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: var(--space--1);

  li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 1.5em;

    &::before {
      content: counter(list-counter) ".";
      position: absolute;
      left: 0;
      color: var(--color--brand);
      font-weight: bold;
    }
  }
}

blockquote {
  background-color: var(--color--brand);
  color: var(--color--bg--main) !important;
  padding: var(--space--3);
  position: relative;
  border-radius: 8px;
  font-family: var(--font--display);
  font-size: var(--text--lg);
  line-height: var(--leading--snug);
  font-weight: 700;

  p {
    font: inherit;
    color: var(--color--bg--main) !important;
  }

  &::before,
  &::after {
    position: absolute;
    font-size: px-to-rem(80px);
    color: var(--color--bg--main);
    font-family: var(--font--display);
    line-height: 1;
  }

  &::before {
    content: "\201C";
    top: -0.5rem;
    left: 1rem;
  }

  &::after {
    content: "\201D";
    bottom: -1.5rem;
    right: 1rem;
  }

  @include breakpoint(md) {
    padding: var(--space--5) var(--space--4);

    &::before,
    &::after {
      font-size: px-to-rem(120px);
    }

    &::before {
      top: -1rem;
      left: 1.5rem;
    }

    &::after {
      bottom: -2rem;
      right: 1.5rem;
    }
  }
}

/* -- Forms & small text -- */

input,
textarea {
  color: var(--color--bg--main);
  font-size: var(--text--md);
  line-height: var(--leading--body);
  &:focus {
    outline: var(--color--brand) 4px dotted;
  }
}

label {
  color: var(--color--brand);
  font-size: var(--text--sm);
  font-weight: normal;
  line-height: var(--leading--meta);
}

figcaption {
  color: var(--color--type);
  font-size: var(--text--xs);
  line-height: var(--leading--meta);
  padding-inline: var(--size--edge--padding);

  @include breakpoint(md) {
    padding-inline: 0;
  }
}

a {
  color: var(--color--accent);
  transition: color var(--transition--duration--fast) ease-in;

  &:hover {
    color: var(--color--brand);
  }
}
