@use "mixins" as *;
@use "functions" as *;

h1,
h2,
h3,
h4,
h5,
li,
button,
label,
figcaption {
  font-family: var(--font--display);
}

h1 {
  font-size: px-to-rem(40px);
  color: var(--color--brand);
  letter-spacing: -1px;
}

h2,
.subtitle {
  font-size: 24px;
  color: var(--color--type);
}

.subtitle {
  font-family: var(--font--display);
}

p,
li {
  font-family: var(--font--type);
  font-size: px-to-rem(22px);
  color: var(--color--type);
  font-weight: 400;
  // letter-spacing: var(--font--type--letter-spacing);
}

ol {
  list-style: none;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @include breakpoint(md) {
    gap: 0.75rem;
  }

  li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 1.5em;

    &::before {
      content: counter(list-counter) ".";
      position: absolute;
      left: 0;
      color: var(--color--brand);
      font-weight: bold;
    }
  }
}

blockquote {
  background-color: var(--color--brand);
  color: var(--color--bg--main) !important;
  padding: 1.5rem;
  // margin: 1.5rem 0;
  position: relative;
  border-radius: 8px;
  // font-style: italic;
  font-family: var(--font--display);
  font-size: px-to-rem(20px);
  line-height: 1.6;
  font-weight: 800;

  p {
    color: var(--color--bg--main) !important;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    font-size: px-to-rem(80px);
    color: var(--color--bg--main);
    font-family: var(--font--display);
    line-height: 1;
  }

  &::after {
    content: "\201D";
    position: absolute;
    bottom: -1.5rem;
    right: 1rem;
    font-size: px-to-rem(80px);
    color: var(--color--bg--main);
    font-family: var(--font--display);
    line-height: 1;
  }

  @include breakpoint(md) {
    padding: 3rem 2rem 3rem;
    font-size: px-to-rem(24px);

    &::before {
      font-size: px-to-rem(120px);
      top: -1rem;
      left: 1.5rem;
    }

    &::after {
      font-size: px-to-rem(120px);
      bottom: -2rem;
      right: 1.5rem;
    }
  }
}

input,
textarea {
  color: var(--color--bg--main);
  font-size: px-to-rem(24px);
  &:focus {
    outline: var(--color--brand) 4px dotted;
  }
}

label {
  color: var(--color--brand);
  font-size: px-to-rem(20px);
  font-weight: normal;
}

figcaption {
  color: var(--color--type);
  font-size: px-to-rem(14px);
  padding-inline: var(--size--edge--padding);

  @include breakpoint(md) {
    padding-inline: 0;
  }
}

a {
  color: var(--color--accent);
  transition: color var(--transition--duration--fast) ease-in;

  &:hover {
    color: var(--color--brand);
  }
}

@include breakpoint(md) {
  h1 {
    font-size: px-to-rem(96px);
    line-height: px-to-rem(96px);
    letter-spacing: -3px;
  }

  h2,
  .subtitle {
    font-size: px-to-rem(36px);
    letter-spacing: var(--font--type--letter-spacing);
  }

  p,
  li {
    font-size: px-to-rem(24px);
    line-height: 1.5;
  }

  hgroup p {
    font-size: px-to-rem(28px);
  }

  figcaption {
    font-size: px-to-rem(18px);
    padding-inline: 0;
  }
}
