/* -- SCSS Variables -- */
$base-font-size: 16px;
$max-content-width: 1200px;
$edge-padding: 20px;
$column-width-lg: 768px;
$column-width-sm: 360px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
