@import "./variables";
@import "./functions";
@import "./mixins";
@import "./reset";
@import "./utils";

/* -- CSS Variables -- */
:root {
  --font--display: "Montserrat", sans-serif;
  --font--type: "Crimson Text", serif;
  --font--type--letter-spacing: -2.5%;
  --color--brand: #ffc600;
  --color--accent: #ffdd67;
  --color--type: #f3f3f3;
  --color--bg--main: #193549;
  --color--bg--accent: #122736;
  --size--content--max: #{rem($max-content-width)};
  --size--column--lg: #{rem($column-width-lg)};
  --size--column--sm: #{rem($column-width-sm)};
  --size--edge--padding: #{rem($edge-padding)};
  --transition--duration--slow: 250ms;
  --transition--duration--fast: 150ms;
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
}

/* -- CSS -- */

body {
  font-size: $base-font-size;
  background-color: var(--color--bg--main);
}

h1,
h2,
h3,
h4,
h5,
li,
figcaption {
  font-family: var(--font--display);
}

h1 {
  font-size: rem(36px);
  letter-spacing: -1px;
  color: var(--color--brand);
  padding-inline: var(--size--edge--padding);
}

h2 {
  color: var(--color--brand);
}

p {
  font-family: var(--font--type);
  font-size: rem(16px);
  color: var(--color--type);
  letter-spacing: var(--font--type--letter-spacing);
}

figure {
  display: flex;
  flex-flow: column;
  gap: 12px;
}

figcaption {
  color: var(--color--type);
  font-size: rem(18px);
  padding-inline: var(--size--edge--padding);
}

a {
  color: var(--color--accent);
  transition: color var(--transition--duration--fast) ease-in;

  &:hover {
    color: var(--color--brand);
  }
}

@include breakpoint(md) {
  h1 {
    font-size: rem(96px);
    line-height: rem(96px);
    letter-spacing: -3px;
    padding-inline: 0;
  }

  figcaption {
    padding-inline: 0;
  }
}
