@use "reset" as *;
@use "utils" as *;
@use "variables" as *;
@use "mixins" as *;
@use "functions" as *;
@use "typography" as *;
@use "layout" as *;

/* -- CSS Variables -- */
:root {
  --font--display: "Montserrat", sans-serif;
  --font--type: "Crimson Text", serif;
  --font--type--letter-spacing: -2%;
  --color--brand: #ffc600;
  --color--accent: #ffdd67;
  --color--type: #f3f3f3;
  --color--bg--main: #193549;
  --color--bg--accent: #122736;
  --color--shadow: rgba(0, 0, 0, 0.5);
  --color--shadow--accent: #ffc800cc;
  --size--content--max: #{px-to-rem($max-content-width)};
  --size--column--lg: #{px-to-rem($column-width-lg)};
  --size--column--sm: #{px-to-rem($column-width-sm)};
  --size--edge--padding: #{px-to-rem($edge-padding)};
  --transition--duration--slow: 250ms;
  --transition--duration--fast: 50ms;
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
}

/* -- CSS -- */

body {
  font-size: $base-font-size;
  background-color: var(--color--bg--main);
}

figure {
  display: flex;
  flex-flow: column;
  gap: px-to-rem(12px);
}

pre {
  display: flex;
  overflow-x: scroll;
  padding: px-to-rem(24px);
  overflow: scroll;
}

code {
  display: flex;
  flex-flow: column;
  gap: px-to-rem(6px);
  font-size: px-to-rem(12px);

  p > & {
    display: inline-block;
  }
}

@include breakpoint(md) {
  code {
    gap: px-to-rem(12px);
    font-size: px-to-rem(16px);
  }
}
